<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block title %}
        <title>TuEsLeHero</title>
    {% endblock %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ url_for('static', filename='mes_styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    {% endblock %}
</head>
<body>
{% include('_nav.html') %}

{% block body %}
    <div class="layout_body">
        <h2>Bienvenue sur TuEsLeHero !</h2>
    </div>
{% endblock %}
</body>
</html>